.forgot-password-main-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-h2{
    font-weight: 500;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.forgot-password-p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px
}

.forgot-password-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-form > input{
    width: 80%;
    border: 1px solid #cbc2c2;
    outline: none;
    padding: 4px;
    font-size: 15px;
}

.forgot-password-form > button{
    min-width: 130px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid #cbc2c2;
    cursor: pointer;
    margin-top: 10px;
}

.forgot-password-form > button:hover{
    background-color: #c0c0c0;
}



@media only screen and (max-width: 480px) {
    .forgot-password-main-div{
        margin-top: 30%;
    }
}